
.bold-title {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 0.25em; }
  @media screen and (max-width: 768px) {
    .bold-title {
      font-size: 1.5rem;
      text-align: center; } }



.subtitle {
  color: #4a4a4a;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.25; }
  .subtitle strong {
    color: #363636;
    font-weight: 600; }
  .subtitle:not(.is-spaced) + .title {
    margin-top: -1.25rem; }
  .subtitle.is-1 {
    font-size: 3rem; }
  .subtitle.is-2 {
    font-size: 1rem; }
  .subtitle.is-3 {
    font-size: 1rem; }
  .subtitle.is-4 {
    font-size: 1.5rem; }
  .subtitle.is-5 {
    font-size: 1.25rem; }
  .subtitle.is-6 {
    font-size: 1rem; }
  .subtitle.is-7 {
    font-size: 0.75rem; }